.app {
  min-height: 100vh;
  overflow: hidden;
}

.mainContainer {
  height: 100%;
  transition: all .3s ease-in-out;
  margin: 1%;
}

.main {
  display: block;
  width: 100%;
  height: calc(100% - 6rem);
  padding: 2rem;
  transition: all 0.3s ease-in-out;
}

.content {
  position: relative;
  height: 100%;
  padding: 0;
  background-color: #fff;
  border: 1px solid #b6bfc9;
  border-radius: .6rem;
}

.button {
  display: inline-block;
  width: 10rem;
  margin: 4rem 1rem 0;
  padding: 0;
  font-size: 1.4rem;
  line-height: 3.2rem;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  background-color: transparent;
  color: #fff;
  border: #6697a6 2px solid;
  border-radius: .3rem;
  transition: all .3s;
  cursor: pointer;

  &:hover {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .15);
  }

}