.scrollContainer {
    overflow-Y: auto;
    height: 100%;
}

.navBar {
        list-style-type: none;
        margin: 0;
        padding: 0;
}

.menuLevel2 {

    height: 0;
    overflow: hidden;

    &.expanded {
        height: auto;
    }
}

.menuLevel3 {

    height: 0;
    overflow: hidden;

    &.expanded {
        height: auto;
    }
}


.nav {
    height: calc(100% - 32.3rem);
    visibility: hidden;
    opacity: 0;
    transition: all 0s 0s;

    &.menuExpanded {
        opacity: 1;
        display:block;
        visibility: visible;
        transition: visibility 0s 0.3s;
    }

}
