.app {
  min-height: 100vh;
  overflow: hidden;
}

.mainContainer {
  height: 100%;
  transition: all .3s ease-in-out;
  margin: 1%;
}

.main {    
  display: block;
  width: 100%;
  height: calc(100% - 6rem);
  padding: 2rem;
  transition: all 0.3s ease-in-out;
}

.content {
  position: relative;
  height: 100%;
  padding: 0;
  background-color: #fff;
  border: 1px solid #b6bfc9;
  border-radius: .6rem;
}

.splashContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(-45deg, #196480, #0c3450);
}

// TODO: Remove temporary styles for the splash screen.

.heading {
  position: relative;
  margin-bottom: 0;
  font-size: 3.2rem;
  font-weight: bold;
  color: white;
  text-align: center;
}